.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
}

.footerLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footerList {
  list-style: none;
  padding: 0;
}

.footerListItem {
  cursor: pointer;
  color: #003580;
  margin-bottom: 10px;
}
